<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <link rel="icon" href="/img/ionis-stm-logo-2020-quadri.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<div th:replace="fragments/header :: header">&nbsp;</div>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <div class="row">
        <div class="col-sm-6" th:each="carte: ${cartes}">
            <div class="xmlcard">
                <div class="xmlcard-title">
                    <h1>République  <span th:text="${carte.nationality}"></span></h1>
                </div>
                <div class="xmlcard-id">
                    <div class="xmlcard-number">
                        <p class="xmlcard-cardtitle">Carte nationale d'identité :</p>
                        <p th:text="${carte.numero}"></p>
                    </div>
                    <p class="xmlcard-cardtitle">Nationalité <span th:text="${carte.nationality}"></span></p>
                </div>
                <div class="xmlcard-information">
                    <div class="xmlcard-photo" th:style="'background: url(/img/' + ${carte.photo} + ') no-repeat, #BFAE99;;'"></div>
                    <div class="xmlcard-text">
                        <div class="xmlcard-name">
                            <div class="xmlcard-box">
                                <p class="xmlcard-cardtitle">Nom :</p>
                                <p class="d-inline" th:text="${carte.nom}"></p>
                                &emsp;
                                <p class="xmlcard-cardtitle">Prénom :</p>
                                <p class="d-inline" th:text="${carte.prenom}"></p>
                            </div>
                        </div>
                        <div class="xmlcard-detail">
                            <div class="xmlcard-box">
                                <p class="xmlcard-cardtitle">Sexe :</p>
                                <p class="d-inline" th:text="${carte.sexe}"></p>
                            </div>
                            <br/>
                            <div class="xmlcard-box">
                                <p class="xmlcard-cardtitle">Né(e) le :</p>
                                <p class="d-inline" th:text="${carte.dateNaissance}"></p>
                            </div>
                            <div class="xmlcard-box">
                                <p class="xmlcard-cardtitle">Ville :</p>
                                <p class="d-inline" th:text="${carte.lieuNaissance}"></p>
                            </div>
                        </div>
                        <div class="xmlcard-sign">
                            <p class="xmlcard-cardtitle">Signature du titulaire :</p>
                            <div class="xmlcardsign" th:style="'display: inline-block; background: no-repeat url(/img/' + ${carte.signature} + ');height: 30px; width: 350px;'"></div>
                        </div>
                    </div>
                    <div class="xmlcard-puce d-inline" th:style="'vertical-align: top; background: url(data:image/png;base64,' + ${carte.puceBase64} + ') no-repeat;background-size: cover;'"></div>
                </div>
                <div class="xmlcard-code">
                    <p>
                        <span th:text="${carte.code}"></span>
                    </p>
                </div>
            </div>
            <div class="row p-2">
                <a th:href="'/one?id='+${carte.numero}" target="_blank" class="m-1 col btn btn-primary">Modifier</a>
                <a th:href="'/pdf?id='+${carte.numero}" target="_blank" class="m-1 col btn btn-primary">Télécharger le PDF</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; IONIS-STM</p>
</footer>

</body>
</html>
